<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Analizador Léxico</title>
</head>
<body>

    <div class="container1">
        <!-- Imágenes en las esquinas -->
    <img src="https://sic.cultura.gob.mx/images/63070" class="corner-image top-left">
    
    <!--<img src="https://dcs.unach.mx/media/k2/items/cache/98a582b66f9604c5e197e648c3b2d22e_XL.jpg" class="corner-image bottom-right" >-->


    </div>

    
    <div class="container">
        <h2>Analizador Léxico</h2>
        <form method="post" action="/analyze">
            <div class="textarea-container">
                <textarea id="code" name="code" placeholder="Ingresa tu código aquí...">{{ code }}</textarea>
            </div>
            <button type="submit" class="analyze-button">Analizar</button>
            <button type="submit" class="clear-button" onclick="document.getElementById('code').value = '';">Borrar</button>
        </form>
    
        {% if results %}
        <div class="output-table">
            <table>
                <thead>
                    <tr>
                        <th>Token</th>
                        <th>Lexema</th>
                        <th>Línea</th>
                    </tr>
                </thead>
                <tbody>
                    {% for result in results %}
                    <tr>
                        <td>{{ result.token }}</td>
                        <td>{{ result.lexema }}</td>
                        <td>{{ result.linea }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- Mostrar el contador de palabras reservadas -->
        <p>Total de palabras reservadas: {{ reserved_count }}</p>
        {% endif %}
    </div>
    
</body>
</html>